{{ extends "global/Page.html" }}
{{ block title }}Comprehension Check{{ endblock }}

{{ block content }}

{% if is_condition_1 %}

<div style="margin-bottom: 25px;">
  <p>{{ form.Q_decision_process.label }}</p>
  {{ form.Q_decision_process }}
</div>

<div style="margin-bottom: 25px;">
  <p>{{ form.Q_bonus_calculation.label }}</p>
  {{ form.Q_bonus_calculation }}
</div>
{% endif %}

{% if is_condition_2 %}

<div style="margin-bottom: 25px;">
  <p>{{ form.Q_advance_candidate.label }}</p>
  {{ form.Q_advance_candidate }}
</div>

<div style="margin-bottom: 25px;">
  <p>{{ form.Q_bonus_calculation.label }}</p>
  {{ form.Q_bonus_calculation }}
</div>
{% endif %}

{{ next_button }}

{{ endblock }}
